.error {
    margin-bottom: 18px;
    color: orangered;
}

.form  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 400px;
    padding: 40px;

    background: rgb(17, 17, 17);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}

.form h1 {
    margin: 0 0 10px;
    padding: 0;

    text-align: center;
    color: rgba(255, 255, 255, 0.83);
}

.form .wrapper {
    position: relative;
}

.form .wrapper input {
    width: 100%;
    padding-top: 20px;
    margin-bottom: 15px;

    font-size: 16px;
    color: rgba(255, 255, 255, 0.85);

    background: transparent;

    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
}

.label {
    position: absolute;
    top: -0px;
    left: 0;

    color: #03e9f4;
    font-size: 12px;
}

button {
    width: 100%;
    position: relative;
    cursor: pointer;
    padding: 10px 18px;
    background-color: #6f8f96;

    color: rgba(255, 255, 255, 0.93);

    border: 2px;
    border-radius: 5px ;

    transition: all 0.4s;
}

button:hover {
    background-color: rgba(3, 233, 244, 0.75);
}